:root {
    --primary : #007bff;
    --secondary : #6c757d;
    --success : #28a745;
    --info : #17a2b8;
    --warning : #ffc107;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary : #007bff;
        --secondary : #6c757d;
        --success : #28a745;
        --info : #17a2b8;
        --warning : #ffc107;
    }
}

body.dark {}
body.light {}

//dark mode and light mode swap
